.containerHome {
    height: 100vh;
    width: 100vw;
}

.welcome {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
}

.logo {
    order: -1;
    /* שינוי סדר האלמנט לפני הכל */
}

.welcome img {
    width: 600px;
}

.navbar-nav a.nav-link {
    color: #9AB2D4;
    transition: color 0.3s ease;
    position: relative;
    /* עוברים למעמד יחיד */
    text-decoration: none;
    padding-bottom: 3px;
    /* יצירת מרווח עם הקו התחתון */
}

.navbar-nav a.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: #CDBCDB;
    /* צבע הקו */
    transform-origin: bottom right;
    transform: scale(0, 1);
    transition: transform 0.3s ease;
}

.navbar-nav a.nav-link:hover::after {
    transform-origin: bottom left;
    transform: scale(1, 1);
}

.navbar-nav a.nav-link:hover {
    color: #CDBCDB;
}

.fab {
    font-size: 40px;
    margin-right: 20px;
    margin-bottom: 50px;
}

.social-icons-home a {
    display: inline-block;
    margin: 0 10px;
    color: #5587cd;
    font-size: 24px;
    transition: color 0.3s;
}

.social-icons-home a:hover {
    color: #9AB2D4;
}