.languageSelector {
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: transparent;
    font-family: 'Lato', sans-serif;
    width: 100%;
}

.language-button {
    background-color: transparent;
    color: #8243b5;
    border: none;
    padding: 2px 4px;
    margin: 5px;
    cursor: pointer;
    transition: color 0.3s ease;
    font-size: 20px;
    text-decoration: underline;
}

.space {
    font-size: 28px;
}

.language-button:active,
.language-button:focus,
.language-button:hover {
    color: #CDBCDB;
}

.space {
    color: #CDBCDB;
}