.container {
    height: 100vh;
    width: 100vw;
}

.services {
    font-family: 'Montserrat', sans-serif;
}

.servicesForm {
    background-color: #CDBCDB;
    width: 80%;
    margin: auto;
    border-radius: 15px;
    padding: 20px;
    font-size: 18px;
}

.servicesForm li {
    font-family: 'Lato', sans-serif;
}

.servicesDetailsLeft {
    padding-top: 20px;
    padding-left: 100px;
    text-align: left;

}

.servicesDetailsRight {
    border-radius: 15px;
    background-color: #f5e9ff;
    padding-right: 100px;
    padding-top: 20px;
    text-align: right;
    direction: rtl;
}

.navbar-nav a.nav-link {
    color: #9AB2D4;
    transition: color 0.3s ease;
    position: relative;
    font-size: 32px;
    /* עוברים למעמד יחיד */
    text-decoration: none;
    padding-bottom: 3px;
    /* יצירת מרווח עם הקו התחתון */
}

.navbar-nav a.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: #CDBCDB;
    /* צבע הקו */
    transform-origin: bottom right;
    transform: scale(0, 1);
    transition: transform 0.3s ease;
}

.navbar-nav a.nav-link:hover::after {
    transform-origin: bottom left;
    transform: scale(1, 1);
}

.navbar-nav a.nav-link:hover {
    color: #CDBCDB;
}

h1 {
    color: #CDBCDB;
}